<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <title>About Me</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/css/index.css" />
  </head>
  <body>
    <nav>
      <div class="link-header">
        <a href="/" class="logo">Securely Dark</a>
        <div class="header-right">
          <a class="active" href="/">Home</a>
          <a href="/about">About</a>
        </div>
      </div>
    </nav>

    <div class="about_container">
      <div class="about_container2">
        <div class="sub-heading b_border">About me</div>
        <div class="about-profile-image">
          <img src="/assets/images/darkrider.jpg" alt="DarkRider88" />
        </div>
        <div class="about_text">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi
            commodi, aperiam illum numquam laudantium sit quis asperiores
            repellat. Ipsam, sunt culpa nesciunt ex minus atque et quos dolore
            magni amet iure praesentium? Quo cum, ratione sint enim iure in
            magnam molestias eveniet soluta officia, eligendi ducimus explicabo
            cupiditate nobis necessitatibus odit obcaecati alias ab quam! Labore
            totam at atque commodi obcaecati amet? Facilis magnam suscipit nisi
            vitae quos totam, alias quaerat, animi perferendis excepturi vero
            eos repudiandae, doloribus qui? Architecto in cupiditate fugit ea
            voluptate itaque nemo facere, incidunt quibusdam! Molestias aliquid
            fugiat expedita reiciendis unde fugit, optio ipsam doloribus.
          </p>
          <div class="follow_me">
            <div class="sub-heading">Follow Me</div>
            <div>
              <a
                class="github-button"
                href="https://github.com/darkrider88"
                data-color-scheme="no-preference: light; light: light; dark: light;"
                data-size="large"
                aria-label="Follow @darkrider88 on GitHub"
                >Follow @darkrider88</a
              >
              <a
                href="https://twitter.com/darkrider_88?ref_src=twsrc%5Etfw"
                class="twitter-follow-button"
                data-show-count="false"
                data-size="large"
                >Follow @darkrider_88</a
              >
              <script
                async
                src="https://platform.twitter.com/widgets.js"
                charset="utf-8"
              ></script>
            </div>
          </div>
          <div class="support_me">
            <div class="sub-heading">Support Me</div>
            <script
              type="text/javascript"
              src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
              data-name="bmc-button"
              data-slug="darkrider88"
              data-color="#FFDD00"
              data-emoji="ðŸ­"
              data-font="Cookie"
              data-text="Buy me a lollipop"
              data-outline-color="#000000"
              data-font-color="#000000"
              data-coffee-color="#ffffff"
            ></script>
          </div>
        </div>
      </div>
    </div>
    <footer><p>Designed & Developed by DarkRider88 &#169;</p></footer>
  </body>
</html>
