<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#18212f" />
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#18212f" />
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#18212f" />
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <title>About Me</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/css/index.css" />
    <link rel="icon" type="image/png" href="/assets/images/blog.ico" />
  </head>
  <body>
    <nav class="navbar">
      <span class="navbar-toggle" id="js-navbar-toggle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          x="0px"
          y="0px"
          width="20"
          height="20"
          viewBox="0 0 172 172"
          style="fill: #000000"
        >
          <g
            fill="none"
            fill-rule="nonzero"
            stroke="none"
            stroke-width="1"
            stroke-linecap="butt"
            stroke-linejoin="miter"
            stroke-miterlimit="10"
            stroke-dasharray=""
            stroke-dashoffset="0"
            font-family="none"
            font-weight="none"
            font-size="none"
            text-anchor="none"
            style="mix-blend-mode: normal"
          >
            <path d="M0,172v-172h172v172z" fill="none"></path>
            <g fill="#ffffff">
              <path
                d="M0,14.33333v14.33333h172v-14.33333zM0,78.83333v14.33333h172v-14.33333zM0,143.33333v14.33333h172v-14.33333z"
              ></path>
            </g>
          </g>
        </svg>
      </span>
      <a href="/" class="logo large-font">Securely Dark</a>
      <ul class="main-nav" id="js-menu">
        <li>
          <a href="/" class="nav-links">Home</a>
        </li>
        <li>
          <a href="/about" class="nav-links">About me</a>
        </li>
      </ul>
    </nav>

    <div class="about_container">
      <div class="about_container2">
        <div class="sub-heading b_border">About me</div>
        <div class="about-profile-image">
          <img src="/assets/images/darkrider.jpg" alt="DarkRider88" />
        </div>
        <div class="about_text">
          <p>
            I am a computer science student.. but nothing good about it they all
            teach old boring stuff. But the best part starts at night when I
            open my laptop and switch into the world where everyone knows you by
            an alias.. like in the Matrix- Neo. I am not anonymous you all know
            me but still I like this way. I started hacking because I saw a
            magic in it, you can control anything which you want, you have the
            power to peek into lives.. but actually I don't do all this else I
            will be Elliot Alderson.. no I am just learning, I don't know
            anything yet. Goodbye!
          </p>
          <div class="follow_me">
            <div class="sub-heading">Follow Me</div>
            <div>
              <a
                class="github-button"
                href="https://github.com/darkrider88"
                data-color-scheme="no-preference: light; light: light; dark: light;"
                data-size="large"
                aria-label="Follow @darkrider88 on GitHub"
                >Follow @darkrider88</a
              >
              <a
                href="https://twitter.com/darkrider_88?ref_src=twsrc%5Etfw"
                class="twitter-follow-button"
                data-show-count="false"
                data-size="large"
                >Follow @darkrider_88</a
              >
              <script
                async
                src="https://platform.twitter.com/widgets.js"
                charset="utf-8"
              ></script>
            </div>
          </div>
          <div class="support_me">
            <div class="sub-heading">Support Me</div>
            <script
              type="text/javascript"
              src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
              data-name="bmc-button"
              data-slug="darkrider88"
              data-color="#FFDD00"
              data-emoji="ðŸ­"
              data-font="Cookie"
              data-text="Buy me a lollipop"
              data-outline-color="#000000"
              data-font-color="#000000"
              data-coffee-color="#ffffff"
            ></script>
          </div>
          <div class="contact_me">
            <div class="sub-heading">Contact Me</div>
            <div class="contacts">
              <a
                href="https://discordapp.com/users/500927240134066202"
                target="_blank"
                rel="noopener noreferrer"
                >Discord</a
              >
              <a
                href="http://t.me/dark_rider88"
                target="_blank"
                rel="noopener noreferrer"
                >Telegram</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer><p>Designed & Developed by DarkRider88 &#169;</p></footer>
    <script>
      let mainNav = document.getElementById("js-menu");
      let navBarToggle = document.getElementById("js-navbar-toggle");
      let navbar = document.querySelector(".navbar");
      navBarToggle.addEventListener("click", function () {
        mainNav.classList.toggle("active");
        navbar.classList.toggle("backColor");
      });
    </script>
  </body>
</html>
